@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>About Us</h1>

<p>This is the group project for the ASP.NET Using C#, INFO-2534-LN02 2022SP class</p>
<p>We have created a marketplace for users to purchase items</p>

<h2>The Group</h2>
<ul>
    <li>Brandon Staroscik</li>
    <li>Tyler Gann</li>
    <li>Jeremy Wortmann</li>
    <li>Ashley Beck</li>
</ul>
