@{
    ViewData["Title"] = "Administration Panel";
}

<h2>This is where the admins work</h2>

<h2>Links</h2>
<h2>User Control</h2>
<h2>Role Control</h2>
<h2>Order Control Maybe?</h2>
<h2>Possibly Something else</h2>


<table>
    <thead>
        <th>UserID</th>
        <th>User</th>
        <th>User Email</th>
    </thead>
</table>