@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="jumbotron">
        <img id="logo" alt="Marketplace Logo" src="~/images/marketplaceLogo.png" class="img-fluid rounded" width="200"/> <strong class="display-4">The Market Place</strong>
        
    </div>
</header>

<div class="text-center">
    <h1 class="display-4">Welcome to the Market Place!</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
        ut labore et dolore magna aliqua. Feugiat pretium nibh ipsum consequat nisl vel pretium. 
        Curabitur gravida arcu ac tortor dignissim convallis. Aenean sed adipiscing diam donec adipiscing tristique risus nec. 
        Aliquam faucibus purus in massa tempor nec. Ac tincidunt vitae semper quis lectus. 
        Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Gravida quis blandit turpis cursus in. 
        Congue quisque egestas diam in arcu cursus. Tristique nulla aliquet enim tortor. 
        Gravida quis blandit turpis cursus in hac habitasse platea dictumst. Purus in massa tempor nec feugiat nisl pretium. 
        Et ultrices neque ornare aenean euismod elementum nisi quis. Elit eget gravida cum sociis natoque penatibus et magnis. 
        Massa tincidunt dui ut ornare lectus sit.
    </p>

    <p>Ultricies mi quis hendrerit dolor. In nulla posuere sollicitudin aliquam ultrices sagittis orci a. 
        Mauris cursus mattis molestie a iaculis. Nisl tincidunt eget nullam non nisi est sit. Proin gravida hendrerit lectus a. 
        Integer malesuada nunc vel risus commodo viverra maecenas accumsan. Eget egestas purus viverra accumsan in. 
        Suscipit adipiscing bibendum est ultricies integer quis auctor elit. 
        Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. 
        Cum sociis natoque penatibus et magnis dis parturient montes. Sagittis purus sit amet volutpat consequat mauris nunc 
        congue nisi. Penatibus et magnis dis parturient montes nascetur ridiculus mus mauris. Convallis tellus id interdum 
        velit laoreet id donec ultrices tincidunt. Arcu vitae elementum curabitur vitae. Bibendum enim facilisis gravida neque 
        convallis a. Erat velit scelerisque in dictum non consectetur a erat. Elementum integer enim neque volutpat ac. 
        Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum.
    </p>
</div>
